.main {
  color: white;
  padding: 0;
  margin-top: 2rem;
}
.main-cell {
  background-image: url("../../images/the_last_of_us_part_2-6.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  -webkit-box-shadow: -4px 9px 26px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 9px 26px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 9px 26px -3px rgba(0, 0, 0, 0.75);
}
.main-cell-secondary {
  background-image: url("../../images/cp2077.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  -webkit-box-shadow: -4px 9px 26px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 9px 26px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 9px 26px -3px rgba(0, 0, 0, 0.75);
}
.inner {
  height: 90%;
  display: flex;
  align-items: flex-end;
  margin: 1rem;
}
